---
import Layout from "../components/layout.astro"
import { Icon } from "astro-icon/components"
import Link from "../components/link.astro"
import Work from "../components/work.astro"
import {type IconType} from "../components/icon-types"

const links: { icon: IconType; href: string }[] = [
  { icon: "simple-icons:github", href: "https://github.com/luisfun" },
  { icon: "simple-icons:npm", href: "https://www.npmjs.com/~luisfun" },
  //{ icon: "simple-icons:dev", href: "https://dev.to/luisfun" },
  { icon: "simple-icons:discord", href: "https://discord.gg/5bKYuCcmfu" },
  { icon: "simple-icons:patreon", href: "https://www.patreon.com/luisfun" },
]

const works: { icon: string; title: string; category: Parameters<typeof Work>[0]["category"]; site?: string; discord?: string; env: string[]; github?: string }[] = [
  {
    icon: "hono",
    title: "Discord Hono",
    category: "npm-package",
    site: "https://discord-hono.luis.fun",
    env: ["Discord Bot", "Cloudflare Workers"],
    github: "https://github.com/luisfun/discord-hono"
  },
  {
    icon: "paimon",
    title: "Paimon+",
    category: "website",
    site: "https://paimon.plus",
    env: ["Astro, Svelte, TailWind", "Cloudflare Pages / D1"],
    github: "https://github.com/luisfun/paimon.plus"
  },
  {
    icon: "paint",
    title: "AI Paint",
    category: "website",
    site: "https://ai-paint.luis.fun",
    env: ["SvelteKit", "Cloudflare Pages / AI"],
    github: "https://github.com/luisfun/ai-paint"
  },
  {
    icon: "luislab",
    title: "My Blog",
    category: "website",
    site: "https://blog.luis.fun",
    env: ["Gatsby", "Cloudflare Pages"]
  },
  {
    icon: "fanzap",
    title: "FANZAP",
    category: "website",
    site: "https://www.google.com/search?q=fanzap&nfpr=1",
    env: ["HonoX, TailWind", "Cloudflare Workers"]
  },
  {
    icon: "2ch",
    title: "/2ch",
    category: "discord-bot",
    discord: "https://discord.com/oauth2/authorize?client_id=1370657822853042186&permissions=0&integration_type=0&scope=bot",
    env: ["Anonymous posting", "Cloudflare Workers / D1"],
    github: "https://github.com/luisfun/discord-hono-examples/tree/main/workerd-2ch"
  },
  {
    icon: "mimo",
    title: "HoYo News",
    category: "discord-bot",
    discord: "https://discord.com/api/oauth2/authorize?client_id=1197426250743042069&permissions=2048&scope=bot",
    env: ["News Delivery","Cloudflare Workers / D1"],
    github: "https://github.com/luisfun/discord-bot-hoyo-news"
  },
  {
    icon: "workers",
    title: "Cloudflare AI",
    category: "discord-bot",
    env: ["Playing with AI","Cloudflare Workers / AI"],
    github: "https://github.com/luisfun/discord-bot-cloudflare-ai"
  }
]
---

<Layout>
  <header>
    <div class="top-icon icon-rounded">
      <Icon name="luisfun" class="top-icon-inner" />
    </div>
    <div class="links">
      {links.map(link => (
        <Link icon={link.icon} href={link.href} class="link" />
      ))}
    </div>
  </header>
  <main>
    <div class="works">
      {works.map(work => (
        <Work
          icon={work.icon}
          title={work.title}
          category={work.category}
          site={work.site}
          discord={work.discord}
          env={work.env}
          github={work.github}
        />
      ))}
    </div>
  </main>
</Layout>

<style>
  header {
    margin: 4rem 0;
  }
  main {
    margin: 4rem 0;
  }
  .top-icon {
    width: 6rem;
    aspect-ratio: 1;
    margin: auto;
    color: var(--top-icon);
    background: var(--top-bg);
    outline: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-icon-inner {
    width: 61.8034%;
    height: auto;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .link {
    width: 2.5rem;
    height: auto;
    color: var(--top-icon);
  }
  .works {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(18rem, 100%));
    gap: 2rem;
    justify-content: center;
  }
</style>
