---
import Layout from "../components/layout.astro"
import { Icon } from "astro-icon/components"
import Link from "../components/link.astro"
import Work from "../components/work.astro"
import {type Iconify} from "../components/icon-types"

const links: { icon: Iconify; href: string }[] = [
  { icon: "simple-icons:github", href: "https://github.com/luisfun" },
  { icon: "simple-icons:npm", href: "https://www.npmjs.com/~luisfun" },
  //{ icon: "simple-icons:dev", href: "https://dev.to/luisfun" },
  { icon: "simple-icons:discord", href: "https://discord.gg/5bKYuCcmfu" },
  { icon: "simple-icons:patreon", href: "https://www.patreon.com/luisfun" },
]

const works: Parameters<typeof Work>[0][] = [
  {
    icon: "hono",
    title: "Discord Hono",
    site: "https://discord-hono.luis.fun",
    category: "npm-package",
    description: "This library enables you to easily build Discord bots on Cloudflare Workers",
    stack: ["simple-icons:discord", "simple-icons:cloudflare"],
    github: "https://github.com/luisfun/discord-hono"
  },
  {
    icon: "paimon",
    title: "Paimon+",
    site: "https://paimon.plus",
    category: "website",
    description: "Tools such as Genshin Impact team builder and character card generator",
    stack: ["simple-icons:astro", "simple-icons:svelte", "simple-icons:tailwindcss", "simple-icons:cloudflare"],
    github: "https://github.com/luisfun/paimon.plus"
  },
  {
    icon: "paint",
    title: "AI Paint",
    site: "https://ai-paint.luis.fun",
    category: "website",
    description: "Image generation and editing tool using generative AI",
    stack: ["simple-icons:svelte", "simple-icons:cloudflare"],
    github: "https://github.com/luisfun/ai-paint"
  },
  {
    icon: "luislab",
    title: "Luis Lab",
    site: "https://blog.luis.fun",
    category: "website",
    description: "My blog (JA)",
    stack: ["simple-icons:gatsby", "simple-icons:cloudflare"],
  },
  {
    icon: "fanzap",
    title: "FANZAP",
    site: "https://www.google.com/search?q=fanzap&nfpr=1",
    category: "website",
    description: "A site that makes FANZA samples easier to view (R18, JA)",
    stack: ["simple-icons:hono", "simple-icons:tailwindcss", "simple-icons:cloudflare"],
  },
  {
    icon: "2ch",
    title: "/2ch",
    discord: "https://discord.com/oauth2/authorize?client_id=1370657822853042186&permissions=0&integration_type=0&scope=bot",
    category: "discord-bot",
    description: "Anonymous posting and cross-server posting available",
    stack: ["simple-icons:cloudflare"],
    github: "https://github.com/luisfun/discord-hono-examples/tree/main/workerd-2ch"
  },
  {
    icon: "mimo",
    title: "HoYo News",
    discord: "https://discord.com/api/oauth2/authorize?client_id=1197426250743042069&permissions=2048&scope=bot",
    category: "discord-bot",
    description: "Periodically delivers news about miHoYo games",
    stack: ["simple-icons:cloudflare"],
    github: "https://github.com/luisfun/discord-bot-hoyo-news"
  },
  {
    icon: "workers",
    title: "Cloudflare AI",
    category: "discord-bot",
    description: "A trial bot to play with generative AI",
    stack: ["simple-icons:cloudflare"],
    github: "https://github.com/luisfun/discord-bot-cloudflare-ai"
  }
]
---

<Layout>
  <header>
    <div class="top-icon icon-rounded">
      <Icon name="luisfun" class="top-icon-inner" />
    </div>
    <div class="links">
      {links.map(link => (
        <Link icon={link.icon} href={link.href} class="link" />
      ))}
    </div>
  </header>
  <main>
    <div class="works">
      {works.map(work => (
        <Work
          icon={work.icon}
          title={work.title}
          category={work.category}
          site={work.site}
          discord={work.discord}
          description={work.description}
          stack={work.stack}
          github={work.github}
        />
      ))}
    </div>
  </main>
</Layout>

<style>
  header {
    margin: 4rem 0;
  }
  main {
    margin: 4rem 0;
  }
  .top-icon {
    width: 6rem;
    aspect-ratio: 1;
    margin: auto;
    color: var(--top-icon);
    background: var(--top-bg);
    outline: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-icon-inner {
    width: 61.8034%;
    height: auto;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  .link {
    width: 2.5rem;
    height: auto;
    color: var(--top-icon);
  }
  .works {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(20rem, 100%));
    gap: 2rem;
    justify-content: center;
  }
</style>
