---
import Svg from "./svg.astro"
import NewTab from "./new-tab.astro"
type Props = {
  icon: string
  title: string
  category: "website" | "discord-bot" | "npm-package"
  site?: string
  discord?: string
  env: string[]
  github?: string
}
const { icon, title, category, site, discord, env, github } = Astro.props
---

<div class="work flex-column-center rounded">
  <NewTab class="head flex-column-center" href={site || discord || github} aria-label="new tab">
    <img class="icon icon-rounded" src={"/images/"+icon+".webp"} alt={icon} />
    <h2 class="title">{title}</h2>
    <div class="category">{category}</div>
  </NewTab>
  <div class="flex description">
    <ul>
      {env.map(e => <li>{e}</li>)}
    </ul>
    {github &&
      <div class="link-icon">
        <NewTab href={github} aria-label="github" >
          <Svg icon="github" />
        </NewTab>
      </div>
    }
  </div>
</div>

<style>
  .rounded {
    border-radius: 1rem;
    overflow: hidden;
  }
  .work {
    background-color: var(--background);
    border: var(--border);
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .head {
    width: 100%;
    padding: .25rem 1rem;
    background-color: var(--bg-2);
    color: var(--text);
  }
  .head:hover .title {
    text-decoration: underline 1px;
  }
  .icon {
    width: 3.5rem;
    aspect-ratio: 1;
    margin: 0.5rem 0;
    object-fit: contain;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .category {
    font-size: 0.875rem;
    color: var(--text-2);
  }
  .description {
    width: 100%;
  }
  .link-icon {
    margin: 0 1rem 0 auto;
    width: 1.25rem;
  }
  ul {
    margin: .75rem 1rem;
    padding-inline-start: 1rem;
  }
</style>
