---
import NewTab from "./new-tab.astro"
import { Icon } from "astro-icon/components"
import {type Iconify, type WorkIcon} from "./icon-types"

type Props = {
  icon: WorkIcon
  title: string
  site?: string
  discord?: string
  category: "website" | "discord-bot" | "npm-package"
  description: string
  stack: Iconify[]
  github?: string
}
const { icon, title, site, discord, category, description, stack, github } = Astro.props
---

<div class="work flex flex-col">
  <NewTab class="head flex flex-col" href={site || discord || github} aria-label="new tab">
    <img class="icon icon-rounded" src={"/images/"+icon+".webp"} alt={icon} />
    <h2 class="title">{title}</h2>
  </NewTab>
  <div class="body">
    <div class="category mt-2">{category}</div>
    <div class="description mt-2">{description}</div>
    <div class="flex mt-2">
      {stack.map(icon => <Icon name={icon} class="stack-icon" />)}
      {github &&
        <NewTab href={github} class="github-icon" aria-label="simple-icons:github">
          <Icon name="simple-icons:github" class="stack-icon" />
        </NewTab>
      }
    </div>
  </div>
</div>

<style>
  .flex {
    display: flex;
    align-items: center;
  }
  .flex-col {
    flex-direction: column;
  }
  .mt-2 {
    margin-top: 0.5rem;
  }
  .work {
    background-color: var(--background);
    border: var(--border);
    border-radius: 1rem;
    overflow: hidden;
  }
  .head {
    width: 100%;
    padding: .25rem 0;
    background-color: var(--bg-2);
    color: var(--text);
  }
  .head:hover .title {
    text-decoration: underline 1px;
  }
  .icon {
    width: 3.5rem;
    aspect-ratio: 1;
    margin: 0.5rem 0;
    object-fit: contain;
  }
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .body {
    width: calc(100% - 2rem);
    height: 100%;
    margin: 0 0 1rem;
  }
  .category {
    text-align: center;
    font-size: 0.875rem;
    color: var(--text-2);
  }
  .description {
    width: 100%;
    color: var(--text-2);
  }
  .stack-icon {
    width: 1.25rem;
    height: auto;
    margin: 0 0.125rem;
  }
  .github-icon {
    margin-left: auto;
  }
  ul {
    margin: .75rem 1rem;
    padding-inline-start: 1rem;
  }
</style>
