---
import Svg from "./svg.astro"
import NewTab from "./new-tab.astro"
type Props = {
  icon: string
  title: string
  site?: string
  discord?: string
  env: string[]
  github?: string
}
const { icon, title, site, discord, env, github } = Astro.props
---

<div class="card rounded">
  <div class="head flex rounded">
    <img class="icon rounded" src={"/images/"+icon+".webp"} loading="lazy" alt={icon} />
    <div class="title">
      <h2>{title}</h2>
    </div>
    {site &&
      <div class="link-icon">
        <NewTab href={site} label="new tab" >
          <Svg icon="arrow-up-right-from-square" />
        </NewTab>
      </div>
    }
    {discord &&
      <div class="link-icon">
        <NewTab href={discord} label="new tab" >
          <Svg icon="discord" />
        </NewTab>
      </div>
    }
  </div>
  <div class="flex">
    <ul>
      {env.map(e => <li>{e}</li>)}
    </ul>
    {github &&
      <div class="link-icon">
        <NewTab href={github} label="github" >
          <Svg icon="github" />
        </NewTab>
      </div>
    }
  </div>
</div>

<style>
  .rounded {
    border-radius: 1.5rem;
  }
  .card {
    background-color: var(--background);
    border: var(--border);
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .head {
    background-color: var(--background-2);
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
  .title {
    margin: 0 1rem;
  }
  h2 {
    margin: 0;
    font-size: 1.3rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .link-icon {
    margin: 0 1rem 0 auto;
    width: 1rem;
  }
  ul {
    margin: .6rem 1rem .8rem;
    padding-inline-start: 2rem;
    line-height: 1.5;
  }
</style>
